body{

background-image: url(background0.jpg);
background-repeat: no-repeat;
background-size:cover;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration-color: aliceblue;
}

/* styling our menu links */
.topnav {
    overflow: hidden;
    float:inherit;
    background-color:greenyellow;
  }
  
  .topnav a {

    display: inline-block;
    color: black;
    font-weight: 700;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: blanchedalmond;
    color: black;
  }
  
  .topnav .icon {
    display: inline-block;

  }

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 760px;
  position: relative;
  margin: auto;

}

/* Hide the images by default */
.mySlides {
  display:none;
}

div.slide01{

  background-image:url(slide/slide01.jpg);
}

div.slide02{
  background-image: url(slide/slide02.jpg);
}

div.slide03{
  background-image:url(slide/slide03.jpg);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
 
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* myMain section style */

div.services{
  width:100%;
  padding: 10px;
  background-color: bisque;
  background-size:cover;
  border-radius: 15px;
 
}

div.container h3{

  margin: 0%;
  padding: 10px;
}

div.OnlineApp {
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  background-size: cover;
  background-color: greenyellow;
  padding: 10px;
  margin: 10px;
  position:inherit;
  align-items: center;
  border-radius: 15px;

}

div.OnlineApp p{
  width:fit-content;
  height:fit-content;
  text-align: center;
  text-size-adjust: 10px;
}


div.Sales{
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  background-size: cover;
  background-color: greenyellow;
  padding: 10px;
  margin: 10px;
  position:relative;
  border-radius: 15px;
}

div.Business{
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  background-size: cover;
  background-color: greenyellow;
  padding: 10px;
  margin: 10px;
  position:relative;
  border-radius: 15px;

}



